                    <footer>
                        <a class="pure-button" href="/">Retour à l'accueil</a>
                    </footer>
                </article>
            </div>
        </main>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>